<%-include('header')-%>
<h1>About</h1>
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Purus sit amet volutpat consequat mauris nunc congue nisi. Morbi quis commodo odio aenean. 
        Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Fermentum et sollicitudin ac orci.
        Elit eget gravida cum sociis natoque penatibus et. Sollicitudin tempor id eu nisl nunc. 
        Nulla at volutpat diam ut venenatis tellus in.
        Rhoncus mattis rhoncus urna neque viverra justo nec ultrices.
    </p>
</div>
<%-include('footer')-%>